.sas-image-hotspot-tooltip {
    opacity: 1 !important;
    font-size: 0.875rem;
    pointer-events: all !important;

    .tooltip-inner {
        background: rgba(0, 0, 0, 0);
        max-width: 200px;


        .sas-image-hotspot-wrapper {
            width: 200px;
            position: absolute;
            z-index: 3;
            top: 1rem;
            left: 50%;
            transform-origin: bottom center;
            transform: translateX(-50%);
            transition: 0.4s all ease;
            display: block;
            margin-top: -2rem;
            padding-top: 3rem;

            .sas-image-hotspot-inner {
                background: $white;
                color: $body-color;
                padding: 0.5rem;
                border-radius: 0;
                border: 1px solid $body-color;
                box-shadow: 0 0 2rem rgba(0, 0, 0, 0.21);

                a {
                    color: $body-color;
                    text-decoration: none;
                }

                small {
                    font-size: 0.6rem;
                }

                .sas-image-hotspot-content::after {
                    content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMjAgNTEyIj4KICAgICAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMzEwLjYgMjMzLjRjMTIuNSAxMi41IDEyLjUgMzIuOCAwIDQ1LjNsLTE5MiAxOTJjLTEyLjUgMTIuNS0zMi44IDEyLjUtNDUuMyAwcy0xMi41LTMyLjggMC00NS4zTDI0Mi43IDI1NiA3My40IDg2LjZjLTEyLjUtMTIuNS0xMi41LTMyLjggMC00NS4zczMyLjgtMTIuNSA0NS4zIDBsMTkyIDE5MnoiLz4KICAgICAgICAgICAgICAgIDwvc3ZnPg==");
                    width: 0.5rem;
                    height: 0.5rem;
                    display: block;
                    position: absolute;
                    right: 0.5rem;
                    top: 3.5rem;
                }
            }
        }
    }

    &.bs-tooltip-bottom {
        .sas-image-hotspot-wrapper {
            transform-origin: bottom center;
            transform: translateX(-50%);
            display: table;
            top: 0 !important;
        }
    }
}