{% block sas_image_hotspot_wrapper %}
    <div @click="onDotClick" :style="styleObject" :class="{ 'is-active': isActive, dot: true, 'sas-image-hotspot': true }" :ref="'pin_' + hotspot.id" draggable="true"

         @dragstart="onDragStart"
         @drag="onDrag"
         @dragend="onDragEnd">
        <div class="sas-image-hotspot__desc" v-if="hotspot.translated">
            <h5>{{ hotspot.product.name }}</h5>
        </div>
    </div>
{% endblock %}
